body {
    font-family: "Noto Sans JP",sans-serif;
    letter-spacing: .1em;
    font-weight: bold;
    font-size: 20px;
}


header {
    height: 30px;
    width: 100%;
    margin: 0;
}

header a {
    text-decoration: none;
    margin-right: 20px;
}

.header-link a {
    display: block;
    align-items: flex-end;
}

.logo {
    float: left;
    font-size: 1.5em;
    margin-left: 30px;
    margin-top: 20px;
    letter-spacing: .1em;
}

.header-links {
    float: right;
    font-size: 0.8em;
    padding-top: 12px;
    margin-top: 25px;
}

.header-link:hover {
	cursor: pointer;
}


.top {
    margin-top: 200px;
    text-align: center;
}

.top-logo {
    font-size: 100px;
    font-weight: bold;
    line-height: 1.3em;
}

.degrees {
    margin-top: -90px;
    font-size: 1.1em;
    font-family: TsukuAOldMinPr6N-B,serif;
}


.top-links {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}


a {
    color: black;
    text-decoration-thickness: 2px;
}

.work a{
    font-size: 0.8em;
}



.top-links a{
    margin-right: 20px;
}

.top-link ul {
    text-align: center;
}

.main {
    margin: 0px 25%;
    font-weight: normal;
}

.main a {
    text-decoration-thickness: 1px;
}

.date{
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: -15px;
}

.profile-text {
    margin-bottom: 50px;
}

.career-text {
    margin-top: 10px;
    margin-bottom: 40px;
}

h3 {
    font-size: 2.5em;
    margin-top: 50px;
    margin-bottom: 10px;
    letter-spacing: .1em;
}

h4 {
    margin-top: 30px;
    margin-bottom: -10px;
}


li {
    margin-bottom: 10px;
}


footer {
    margin-top: 100px;
}

.right-list {
    margin-right: 0px !important;
}

.top-dazai {
    letter-spacing: .2em;
}

p {
    letter-spacing: 0px;
}


@media (max-width: 767px) {

    .top {
        margin-top: 50px;
    }

    .logo {
        font-size: 1.5em;
    }

    .header-links {
        display: none;
    }

    .header-link{
        margin-right: 1px;
    }

    .main {
        margin: 0px 15px;
    }

    h3 {
        font-size: 1.8em;
    }

    body {
        font-size: 1em;
    }

    .top-links {
        font-size: 1.5em;
    }
}