---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="atohs.me | 太宰治と私">
  <header>
    <div class="logo">
      <a href="/">atohs.me</a>
    </div>
  </header>

  <main id="main-content" class="top">
    <h1 class="top-logo top-dazai">『太宰治と私』</h1>
  </main>
</BaseLayout>
