---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Cat in the park. | 作業用の猫動画に"
  description="Cat in the park.は、主に公園にいる猫の動画・写真を掲載するプロジェクトです。動画は、作業用BGMなどにお使いいただくのがおすすめです。自然音を聴きながら作業をし、時たま猫の動きに癒されてください。"
  ogUrl="https://atohs.me/cat-in-the-park"
  ogImage="https://atohs.me/src/cat.png"
  ogSiteName="Cat in the park."
>
  <div class="top">
    <h1 class="top-logo cat-logo">Cat in the park.</h1>
  </div>
  <div class="main">
    <div style="text-align: center;" class="youtube">
      <iframe
        width="100%"
        height="400"
        src="https://www.youtube.com/embed/X-Vcl53J6Co?si=qj9KsdmD3snzm8AF"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
    <div class="links" style="justify-content: center;">
      <a href="https://www.youtube.com/@Catinthepark" target="_blank" rel="noopener noreferrer"
        ><p class="link-item"><i class="fab fa-youtube"></i>YouTube</p></a
      >
      <a href="https://twitter.com/atohsaaa" target="_blank" rel="noopener noreferrer"
        ><p class="link-item"><i class="fab fa-twitter"></i>Twitter</p></a
      >
      <a href="https://www.tiktok.com/@cat_in_the_park" target="_blank" rel="noopener noreferrer"
        ><p class="link-item"><i class="fab fa-tiktok"></i>TikTok</p></a
      >
    </div>

    <h2>概要<br /><span>About</span></h2>
    <p style="font-weight: bold;">
      Cat in the park.は、主に公園にいる猫の動画・写真を掲載するプロジェクトです。動画は、作業用BGMなどにお使いいただくのがおすすめです。自然音を聴きながら作業をし、時たま猫の動きに癒されてください。
    </p>

    <h2>写真<br /><span>Photos</span></h2>
    <div class="tw-align-center;">
      <a
        class="twitter-timeline"
        href="https://twitter.com/cat_in_the_park?ref_src=twsrc%5Etfw"
        data-height="800px">Tweets by cat_in_the_park</a
      >
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <h2>動画<br /><span>movies</span></h2>
    <div class="container cat-movies">
      <div class="item cat-movie-item">
        <iframe
          width="100%"
          height="200px"
          src="https://www.youtube.com/embed/X-Vcl53J6Co"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
      <div class="item cat-movie-item">
        <iframe
          width="100%"
          height="200px"
          src="https://www.youtube.com/embed/BAp2kVSikbw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
      <div class="item cat-movie-item">
        <iframe
          width="100%"
          height="200px"
          src="https://www.youtube.com/embed/EOkYsWuQAdk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
      <div class="item cat-movie-item">
        <iframe
          width="100%"
          height="200px"
          src="https://www.youtube.com/embed/na8VXvE2u2Y"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</BaseLayout>
