<section class="profile-section">
  <h2 class="profile-box-title">Profile</h2>
  <div class="profile-box">
    <div class="name-box">
    <img class="profile-icon" src="/src/favicon.ico" alt="" width="128" height="128" />
    <div class="name-body">
      <p class="name-detail">
        <span class="name-detail-line name-primary">あとーす（atohs）, 伊藤祥太（ITO SHOTA）</span>
        <span class="name-detail-line">Born on November 13, 1993 🎉 / Live in Kumamoto 🧸</span>
        <span class="name-detail-line">Website Development / Web Marketing / Writing / Editing</span>
      </p>
    </div>
  </div>
  <p class="profile-text">
    熊本大学文学部文学科卒。印刷会社で営業・Webディレクター、IT系ベンチャー企業でPdM・カスタマーサポートとして勤務した後に独立。ことばや文章に関することを中心に、企画・制作を担当します。
  </p>
  </div>
</section>
