---
---

<div class="header-top">
  <div class="header-inner">
    <h1 class="header-logo">
      <a href="/">atohs.me</a>
    </h1>
    <nav class="header-links" aria-label="メニュー">
      <a class="header-link" href="/blog">blog</a>
      <a class="header-link" href="/#contact">contact</a>
    </nav>
  </div>
</div>
